.seccionFinal{
    height: auto;
    /* margin-bottom: 5rem; */
    /* padding-top: 1.25rem; */
}

.imagenServicio{
    width: 50%;
}


@media (max-width:1024px){
    .seccionFinal{
        padding: 5%;
    }
    .imagenServicio{
        width: 50%;
    }
}
@media(max-width:769px){ 
    .seccionFinal{
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        padding: 0;
    }

    .imagenServicio{
        width: 50%;
    }
}